<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--CLIENT APPLICATION DATABASE-->
		<add name="SqlConnect" connectionString="data source=LAPTOP-PR3UP165;  initial catalog=SalesOrder_CRM;persist security info=True;     Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>